<form name="invoiceForm">
	<h3>New Invoice</h3>
	
	<label>Customer: <span ng-bind="customer.name"></span></label>
	<select ng-model="customer" ng-options="customer.name for customer in customers" ng-change="updateCustomer()">
	</select><br>
	<label>Products: </label>
	<select size="10" ng-model="productSelected" ng-options="product.name for product in products" ng-change="selectProduct(productSelected)">
	</select>
	<table class="table">
		<tr ng-repeat="item in invoiceItems">
			<td ng-bind="$index+1"></td>
			<td ng-bind="item.name"></td>
			<td ng-bind="item.price"></td>
			<td>
				<input type="text" ng-model="item.quantity" ng-model-options="{debounce: 1000}" ng-change="updateItem(item)">
			</td>
		</tr>
		<tr>
			<td>Discount: </td>
			<td><input type="text" ng-model="invoice.discount" ng-model-options="{debounce: 1000}" ng-change="updateTotal()"></td>
			<td>%</td>
		</tr>
		<tr>
			<td>TOTAL: </td>
			<td ng-bind="invoice.total"></td>
		</tr>
	</table>
</form>